#lightsOutGrid div{
  height: 100px;
  width: 100px;
  background-color: darkgrey;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}
#lightsOutGrid{
  width: 325px;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lightsOutGrid .active{
  background-color: white;
}
 #gameControlsArea{
   height:75px;
 }

body{
  background-color: lightblue;
}
