#lightsOutGrid div{
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}
#lightsOutGrid{
  width: 525px;
  height: 525px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lightsOutGrid .active{
  background-color: darkgrey;
}
 #gameControlsArea{
   height:75px;
 }
h1{
  display: none;
  background-color: green;
}

h1.active{
  display: block;
}
body{
  background-color: lightblue;
}
